
{{#contentFor "css-seccion"}}
    <link rel="stylesheet" href="/css/prueba.css">
{{/contentFor}}


<div>
    <h1>Estamos en Bienvenido</h1>

</div>



{{#contentFor  "scripts-seccion"}}
    <script src="/js/prueba.js"></script>
{{/contentFor }}