<div class="row">

    <button class="btn btn-primary" id="abrir-google">Abrir</button>
</div>
<div id="app"></div>


{{#contentFor 'scripts-seccion'}}
{{!-- <script type="module" src="/js/login/autenticacion_google.js"></script> --}}
<script type="module" src="/js/login/autenticacion_google.js"></script>
<script type="module" crossorigin src="/js/login/reactivo.js"></script>
{{/contentFor}}