<div class="row">

    <button class="btn btn-primary" id="abrir-google">Abrir</button>
</div>



{{#contentFor 'scripts-seccion'}}
{{!-- <script type="module" src="/js/login/autenticacion_google.js"></script> --}}
<script type="module" src="/js/login/autenticacion_google.js"></script>
{{/contentFor}}